<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xiaorang.mybatis.dao.BlogMapper">
    <cache />

    <sql id="blogAddition">
        <if test="title != null">
            title = #{title},
        </if>
        <if test="author != null">
            author = #{author}
        </if>
    </sql>

    <update id="updateBlog" parameterType="map">
        update blog
        <set>
            <include refid="blogAddition" />
        </set>
        where id = #{id}
    </update>

    <select id="findBlogs" parameterType="map" resultType="Blog">
        select *
        from blog
        <where>
            <if test="title != null">
                title = #{title}
            </if>
            <if test="author != null">
                and author = #{author}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
    </select>

    <select id="queryBlogChoose" resultType="Blog">
        select *
        from blog
        <where>
            <choose>
                <when test="title != null">
                    title = #{title}
                </when>
                <when test="author != null">
                    and author = #{author}
                </when>
                <otherwise>
                    and views = #{views}
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="findBlogsById" parameterType="list" resultType="blog">
        select * from blog
        <where>
            <foreach collection="ids" item="id" open="(" close=")" separator="or">
                id = #{id}
            </foreach>
        </where>
    </select>
</mapper>